Build/
Debug/
Release/
ipch/
Temp/
xdata/
.vs/
_localpub/
__pycache__/

Prj/Vs2010/*.vcxproj.user
Prj/Vs2010/*.sdf
Prj/Vs2010/*.ncb
Prj/Vs2010/*.opt
Prj/Vs2010/*.suo

*.ncb
*.opt
*.suo
*.plg
*.sdf
*.opensdf
*.vcxproj.user
*.aps

*.swp
*.orig
*.*~
*.~*
*.tlog
*.bak
*.bak*

*.pyc
*.output
